In [12]:
import pandas as pd
df = pd.read_csv('Data//weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

we can use dictionary as well for creating pandas data frame

In [3]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df_dict = pd.DataFrame(weather_data)
df_dict

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [8]:
df.shape #this will return the number of rows and coulmns

(6, 4)

In [9]:
rows, columns = df.shape
rows, columns #this way we can save the no. of rows and columns of dataframe in variables

(6, 4)

In [10]:

# df.head() #this will return the first 5 rows of the data
df.head(2) #this will return the first 2 rows of the data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [7]:

df.tail() #this will return the last 5 rows of the data

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:

df[2:5] #this will return the rows from 2 to 4 and will not include the 5th row

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [14]:
# df['temperature']  this will return the temperatue column and we can perform min,max,mean etc, statistics on it as well
df['temperature'][0] # this will return 1st value of the temperature coulmn

np.int64(32)

In [15]:
df.describe() # this will return all the statistics of the data

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

we can use pandas as a sql too below is an example of
SELECT * FROM wheather
WHERE tempreture > 30;

In [17]:
# df[df.temperature > 30] # this will return the rows where temperatue is > 30]
df[df.temperature == df.temperature.max()] # this will return the rows where temperature is max

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

now from query like ' SELECT day, temperature FROM weather WHERE temperature >30; '

In [19]:
df[['day', 'temperature']][df.temperature > 30]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
4  1/5/2017           32
5  1/6/2017           31

now lets see indexing in pandas

In [21]:
df.index #this will return the index of the dataframe
df.columns #this will return the columns of the dataframe

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [23]:
df.set_index('day', inplace=True) # this will set day as index of the data  frame 
# inplace = True will make the changes in the original dataframe if its False(default) then it will create new dataframe

In [24]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [25]:
df.loc['1/1/2017'] # the advantange of setting index is that we can access the data using new index

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

In [26]:
df['temperature']['1/1/2017'] # this will return the temperature of 1/1/2017

np.int64(32)

In [28]:
df.reset_index(inplace=True) #this will reset the index of the dataframe and make it default
df

   index       day  temperature  windspeed  event
0      0  1/1/2017           32          6   Rain
1      1  1/2/2017           35          7  Sunny
2      2  1/3/2017           28          2   Snow
3      3  1/4/2017           24          7   Snow
4      4  1/5/2017           32          4   Rain
5      5  1/6/2017           31          2  Sunny

these index can be used as hash key of hash function